@{
    ViewBag.Title = "O projektu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Projekt je vytvořen jako školní diplomová práce. Za nic v této práci neručím. Použití na vlastní nebezpečí.</p>
<div class="container">
    <div class="col-sm-6" style="height:75px;">
        <div class='col-md-5'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker8'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-5'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker9'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker8').datetimepicker({language : "cs"});
            $('#datetimepicker9').datetimepicker({language: "cs" });
            $("#datetimepicker8").on("dp.change", function (e) {
                $('#datetimepicker9').data("DateTimePicker").setMinDate(e.date);
            });
            $("#datetimepicker9").on("dp.change", function (e) {
                $('#datetimepicker8').data("DateTimePicker").setMaxDate(e.date);
            });
        });
    </script>
</div>