@{
    ViewBag.Title = "O projektu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Projekt je vytvořen jako školní diplomová práce. Za nic v této práci neručím. Použití na vlastní nebezpečí.</p>
