@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mobile Tracker<br />
    Školní projekt<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:springer@example.com">Support@example.com</a><br />
</address>